.root {
  --bg-blue: #0000b0;
  --bg-light-blue: #0000ff;
  --bg-red: #b00000;
  --bg-light-red: #ff0000;
  --bg-orange: #ff9800;
  --pale-yellow: #ffffe9;

  background-image: linear-gradient(
      to bottom,
      var(--bg-blue),
      var(--bg-blue) 30%,
      var(--bg-light-blue) 100%
    ),
    linear-gradient(
      to bottom,
      var(--bg-red),
      var(--bg-red) 30%,
      var(--bg-light-red) 100%
    );

  background-size: 50% auto, 50% auto;
  background-repeat: repeat-y, repeat-y;
  background-position: left, right;
}

.pageContainer {
  background-color: var(--pale-yellow);
  border: 8px solid var(--bg-red);
}

.headerWithPadding {
  scroll-margin-top: 120px;
}

.pageContainer a {
  @apply text-blue-800 underline;
}

.topMenu {
  background-color: var(--pale-yellow);
}

.pageHeader {
  background-color: var(--pale-yellow);
  @apply text-3xl font-bold py-4 -mx-8 pl-8;
}
